.actress-card-wide.mdl-card {
    width: 100%;
}

.actress-card-wide > .mdl-card__supporting-text {
    width: 100%;
}

.actress-card-wide > .mdl-card__title {
    color: #fff;
    height: 135px;
    background: gray;
    /*background:blue url('../assets/demos/welcome_card.jpg') center / cover;*/
}

.actress-card-wide > .mdl-card__menu {
    color: #fff;
}

.actress-card-wide > .mdl-card__actions {
    padding: 0px;
}

.mdl-layout__content {
    width: 100%;
}

.actress-name {
    display: none;
}

.actress-video {
    display: none;
    justify-content: center;
}

.mdl-grid {
    max-width: 672px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .card-square {
        margin-left: auto;
        margin-right: auto;
    }
}

.card-square.mdl-card {
    width: 320px;
    height: 320px;
}

.card-square > .mdl-card__title {
    color: #fff;
}
